* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    scroll-behavior: smooth;
}

section {
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    gap: 3em;
}

li {
    list-style: none;
    position: relative;
}
/* start navbar */
/* class code js  */
.change_header_color {
    background-color: #fff;
    box-shadow: 1px 1px 1px #e1e1e1;
    position: fixed;
    animation: height 1.5s forwards;
}
@keyframes height {
    from {
       transform: translateY(-100%);
    }
    to {
       transform: translateY(0%);
    }
}
/* end class code js  */
header {
    width: 100%;
    padding: 1.5em 4em;
    position: fixed;
    transition: 0.4s;
    z-index: 99999;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links a {
    color: #000;
    transition: 0.7s;
}

.links a:hover {
    color: #d4b446;
}

.inp {
    display: flex;
}

.icons__options {
    display: flex;
    gap: 1.3em;
    align-items: center;
}

.icons__options i {
    font-size: 25px;
    color: #000;
    transition: 0.7s;
}

.icons__options i:hover {
    color: #d4b446;
}

.icons__options .hover {
    position: relative;
}

.icons__options .hover::after {
    position: absolute;
    content: "3";
    text-align: center;
    color: #000;
    width: 17px;
    height: 17px;
    background-color: #d4b446;
    border-radius: 50%;
    bottom: 0;
    left: 14px;
}

.icons__options .bi-person {
    font-size: 30px;
}

.icons__options .bi-list {
    font-size: 30px;
    cursor: pointer;
}

.links #menu__home {
    transition: 5s step-start;
}

.links #menu__home:hover .drop__menu {
    display: block;
}

.drop__menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 74px;
    left: -1em;
    width: 250px;
    padding: 2em;
    gap: 20em;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    display: none;
}

.drop__menu li {
    color: #ababab;
    width: fit-content;
    transition: 0.5s;
}

.drop__menu li:hover {
    color: #000;
}

.drop__menu::after {
    position: absolute;
    content: "";
    left: 20px;
    top: -20px;
    border-color: transparent transparent #fff transparent;
    border-width: 10px 10px 10px 10px;
    border-style: solid;
}

#menu___shop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#menu___shop:hover .menu__shop {
    display: flex;
    opacity: 1;
}

.menu__shop {
    transition: all 2s;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 74px;
    left: -26em;
    opacity: 0;
    width: 950px;
    padding: 2em;
    gap: 4em;
    background-color: #ffffff;
    border: 1px solid #ddd;
    cursor: pointer;
    display: none;
}

.menu__shop::after {
    position: absolute;
    content: "";
    left: 45%;
    top: -20px;
    border-color: transparent transparent #fff transparent;
    border-width: 10px 10px 10px 10px;
    border-style: solid;
}

.menu__shop li {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.menu__shop p {
    color: #ababab;
    width: fit-content;
    transition: 0.5s;
}

.menu__shop p:hover {
    color: #000;
}

.menu__shop .image {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__shop .image img {
    width: 100%;
    object-fit: cover;
}

#menu__home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.menu__down {
    position: relative;
    transition: 0.5s;
    width: fit-content;
}

.toggle__menu__bar {
    display: flex !important;
}

.menu__down .drop__down__icon {
    width: 398px;
    height: 100vh;
    left: -19em;
    top: -2em;
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    position: absolute;
    background-color: #ffffff;
    border-left: 1px solid #e1e1e1;
    overflow-y: scroll;
    display: none;
}

.menu__down .drop__down__icon .icon__out {
    transform: rotate(314deg);
    width: fit-content;
    position: relative;
    left: 0;
}

.menu__down .drop__down__icon .icon__out i {
    font-size: 35px;
    cursor: pointer;
}

.language {
    display: flex;
    gap: 4em;
}

.language .item {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.language .item h3 {
    font-size: 16px;
    font-weight: 500;
    color: #111;
}

.language .item p {
    color: #9a9c9c;
    transition: 0.5s;
    cursor: pointer;
}

.language .item p:hover {
    color: #d4b446;
}

.links__down {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.links__down .item {
    display: flex;
    justify-content: space-between;
}

.links__down .item h3>a {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    transition: 0.5s;
}

.links__down .item h3>a:hover {
    color: #d4b446;
}

.links__down .item i {
    font-size: 14px;
}

.contact h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.contact p {
    color: #666;
    line-height: 2;
}

.follow h6 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.follow .icons__links {
    display: flex;
    gap: 1em;
}

.follow a>i {
    font-size: 17px;
}

@media (max-width: 768px) {
    .links {
        display: none;
    }

    header {
        padding: 20px;
    }

    .menu__down .drop__down__icon {
        min-width: 200px;
    }
}

.login{
    position: relative;
    cursor: pointer;
}
.login .account{
    position: absolute;
    display: flex;
    height: auto;
    width: 400px;
    padding: 2em 2em;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    left: -110vh;
    top: 20vh;
    flex-direction: column;
    gap: 2em;
    display: none;
}
.login .account h2{
    color: #000;
    font-size: 16px;
}
.login .account li input{
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid #d9d9d9;
    padding: 0 10px;
}
#eye_open{
    position: absolute;
    right: 5%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
}
.login .account .Remember{
    display: flex;
    justify-content: space-between;
}
.login .account .Remember h3{
    font-size: 14px;
    color: #000;
}

.login .account button{
    height: 40px;
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}
@media (max-width: 768px){
    .login .account {
            position: absolute , fixed;
            width: 320px;
            left: -480%;
            top: 20vh;
        }
}
/* end navbar */
/* start hero__preview */
.hero__preview {
    min-width: 100%;
    background-color: #f1f1f1;
    padding: 7em 4em 11em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title__page {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.title__page h1 {
    font-size: 46px;
}

.hero__preview h5 {
    padding-left: 25px;
    line-height: 1.5;
    color: #999;
    font-size: 16px;
    border-left: 2px solid #999;
    font-weight: 400;
}

.left {
    position: absolute;
    left: 15px;
    top: 65%;
    cursor: pointer;
}

.right {
    position: absolute;
    right: 15px;
    top: 65%;
    cursor: pointer;
}

.bi-chevron-left {
    font-size: 40px;
}

.bi-chevron-right {
    font-size: 40px;
}

.text-btn-normal {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s;
    width: fit-content;
}

.text-btn-normal:hover {
    color: #d4b446;
}

.image__right {
    width: 50%;
    position: relative;
    align-items: center;
    display: flex;
}

.image__right .img_2 {
    position: absolute;
    top: 30%;
    right: 0;
}
.animation {
    transform: translate(200px, 300px);
    animation: trans .5s forwards;
}

@keyframes trans {
    from {
        transform: translate(200px, 300px);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: -5em auto;
    gap: 2em;
    border: 25px solid #ffffff;
    background-color: #ffffff;
    width: 90%;
    height: 320px;
}

.cards .item__1 {
    flex-grow: 1;
    flex-basis: 200px;
    background-image: url(../File__mage/bn-hf-1-570x340.webp);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 3em 2em;
}

.banner-title {
    display: flex;
    flex-direction: column;
}

.banner-title h3 {
    padding-bottom: 0.4em;
    font-size: 28px;
    color: #000;
}

.banner-title h6 {
    padding-bottom: 3em;
    font-size: 18px;
    font-weight: 400;
}

.banner-title a {
    color: #000;
    transition: 0.5s;
}

.banner-title a:hover {
    color: #d4b446;
}

.cards .item__2 {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 3em 2em;
    background-image: url(../File__mage/bn-hf-2-570x340.webp);
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
}

@media (max-width: 768px) {
    .cards {
        width: 100%;
    }

    .left {
        z-index: 6;
        top: 45%;
    }

    .right {
        z-index: 6;
        top: 45%;
    }

    .hero__preview {
        padding: 7em 1em 12em;
    }

    .container {
        gap: 3em;
        overflow: hidden;
        justify-content: none;
    }

    .title__page {
        width: 100%;
        z-index: 2;
    }

    .image__right {
        position: absolute;
        right: 0;
        z-index: 1;
        width: 60%;
        overflow: hidden;
    }

    .image__right .img_2 {
        width: 220px;
    }

    .image__right .img_1 {
        width: 300px;
    }
}

@media (min-width: 768px) and (max-width: 1114px) {
    .hero__preview {
        overflow: hidden;
    }
}

/* end hero__preview */
.btn__scroll {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 5%;
    right: 3%;
    background-color: #d4b446;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: none;
    z-index: 1000;
}

.btn__scroll a i {
    font-size: 25px;
    color: #fff;
}

/* start parent__product__scroll */
.parent__product__scroll {
    width: 100%;
    padding: 10em 4em 0;
}

.parent__product__scroll h1 {
    font-size: 30px;
}

.parent__product__scroll .container {
    padding-top: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6em;
    height: auto;
    width: 100%;
}

.parent__product__scroll .links {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.parent__product__scroll .links ul {
    gap: 0;
}

.parent__product__scroll .links li {
    padding: 0 17px;
    border-right: 1px solid #000;
    line-height: 12px;
    cursor: pointer;
    display: block;
}

.parent__product__scroll .links ul li:nth-of-type(1) a {
    color: #999;
}

.parent__product__scroll .links ul li:nth-of-type(6) {
    border: none;
}

.parent__product__scroll .item__product {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
}
.parent__product__scroll .item__product::-webkit-scrollbar{
    display: none;
}
.parent__product__scroll .item__product .gallery{
    flex: none;
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto;
}

.parent__product__scroll .item__product .card {
    width: 260px;
    height: 340px;
}

.parent__product__scroll .item__product .card .image__one {
    position: relative;
    width: 90%;
}

.parent__product__scroll .item__product .card:nth-child(1) .image__one::after {
    position: absolute;
    content: "out of stock";
    right: 15px;
    top: 15px;
    background: #000;
    color: #fff;
    padding: 4px 15px;
}

.parent__product__scroll .item__product .card:nth-child(4) .image__one::after {
    position: absolute;
    content: "-14%";
    right: 15px;
    top: 15px;
    background: #f14000;
    color: #fff;
    padding: 4px 15px;
}

.parent__product__scroll .item__product .card .image__one img {
    width: 100%;
    object-fit: cover;
}

.parent__product__scroll .item__product .card .image__one .hover__icons {
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    top: 0;
    width: 100%;
    opacity: 0;
    height: 98.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s;
    gap: 1.5em;
}

.parent__product__scroll .item__product .card .image__one:hover .hover__icons {
    opacity: 1;
}

.parent__product__scroll .item__product .card .image__one .hover__icons a {
    width: 45px;
    height: 45px;
    line-height: 48px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    opacity: 0;
}

.parent__product__scroll .item__product .card .image__one .hover__icons a:nth-child(1) {
    transition: all 0.1s;
    transform: translateY(1em);
}

.parent__product__scroll .item__product .card .image__one .hover__icons a:nth-child(2) {
    transition: all 0.3s;
    transform: translateY(1.5em);
}

.parent__product__scroll .item__product .card .image__one .hover__icons a:nth-child(3) {
    transition: all 0.4s;
    transform: translateY(1.6em);
}

.parent__product__scroll .item__product .card .image__one .hover__icons:hover a:nth-child(1) {
    transition-timing-function: ease-in;
    transform: translateY(0em);
    opacity: 1;
}

.parent__product__scroll .item__product .card .image__one .hover__icons:hover a:nth-child(2) {
    transition-timing-function: ease-in;
    transform: translateY(0em);
    opacity: 1;
}

.parent__product__scroll .item__product .card .image__one .hover__icons:hover a:nth-child(3) {
    transition-timing-function: ease-in;
    transform: translateY(0em);
    opacity: 1;
}

.parent__product__scroll .item__product .card .image__one .hover__icons a i {
    font-size: 18px;
    color: #000;
}

.parent__product__scroll .item__product .card .image__one .hover__icons a:hover i {
    color: #d4b446;
}

.title__image {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.title__image h6 a {
    font-size: 1rem;
    line-height: 3;
    color: #000;
    transition: 0.5s;
}

.title__image h6 a:hover {
    color: #d4b446;
}

.title__image span {
    color: #666;
    font-size: 18px;
}

.parent__product__scroll .item__product .bi-arrow-left {
    position: absolute;
    left: 3%;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
}

.parent__product__scroll .item__product .bi-arrow-right {
    position: absolute;
    right: 3%;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
}

@media (max-width: 767px) {
    .parent__product__scroll {
        padding: 24em 1em 0;
    }

    .parent__product__scroll h1 {
        text-align: center;
    }
.parent__product__scroll .item__product::-webkit-scrollbar {
    display: flex;
}
    .parent__product__scroll .item__product {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        gap: 1.2em;
        min-width: 100%;
        height: 460px;
    }

    .parent__product__scroll .links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .parent__product__scroll .links ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 1em;
    }

    .parent__product__scroll .container {
        padding-top: 3em;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
.parent__product__scroll .item__product{
    gap: 1em;
}
    .parent__product__scroll .item__product .card {
        min-width: 300px;
        height: 340px;
        padding: 10px;
    }

    .parent__product__scroll .item__product .card .image__one {
        width: 100%;
    }

    .parent__product__scroll .item__product .card .image__one img {
        width: 100%;
    }

    .title__image {
        width: 100%;
    }

    .parent__product__scroll .item__product .bi-arrow-right {
        display: none;
    }

    .parent__product__scroll .item__product .bi-arrow-left {
        display: none;
    }
}

/* @media (min-width: 768px) and (max-width: 1114px) {} */

/* Collection */
.Collection {
    background-image: url(../File__mage/banner_large.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    padding: 7em 4em;
    margin-top: 6em;
}

.Collection h1 {
    font-size: 38px;
}

.Collection p {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 3;
}

.Collection h1 span {
    color: red;
}

.Collection .text-btn-normal {
    margin-top: 4em;
}

@media (max-width: 767px) {
    .Collection {
        margin-top: 2em;
        padding: 3em 1em;
    }

    .Collection h1 {
        font-size: 34px;
    }

    .Collection p {
        line-height: normal;
        padding: 2em 0;
    }
}

/* end parent__product__scroll */
/* start parent__shop */
.parent__shop {
    width: 100%;
    padding: 10em 4em 0;
}

.parent__shop h1 {
    font-size: 30px;
}

.parent__shop .container {
    padding-top: 0.3em;
    display: flex;
    flex-direction: column;
    gap: 6em;
    height: auto;
}

.parent__shop .links {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.parent__shop .links ul {
    gap: 0;
}

.parent__shop .links li {
    padding: 0 17px;
    border-right: 1px solid #000;
    line-height: 12px;
    cursor: pointer;
    display: block;
}

.parent__shop .links ul li:nth-of-type(1) a {
    color: #999;
}

.parent__shop .links ul li:nth-of-type(6) {
    border: none;
}

.parent__shop .item__product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.parent__shop .item__product .card {
    width: 280px;
    padding-top: 2em;
}

.parent__shop .item__product .card .image__one {
    position: relative;
    width: 90%;
}

.parent__shop .item__product .card:nth-child(1) .image__one::after {
    position: absolute;
    content: "out of stock";
    right: 15px;
    top: 15px;
    background: #000;
    color: #fff;
    padding: 4px 15px;
}

.parent__shop .item__product .card:nth-child(4) .image__one::after {
    position: absolute;
    content: "-14%";
    right: 15px;
    top: 15px;
    background: #f14000;
    color: #fff;
    padding: 4px 15px;
}

.parent__shop .item__product .card .image__one img {
    width: 100%;
    object-fit: cover;
}

.parent__shop .item__product .card .image__one .hover__icons {
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    top: 0;
    width: 100%;
    opacity: 0;
    height: 98.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s;
    gap: 1.5em;
}

.parent__shop .item__product .card .image__one:hover .hover__icons {
    opacity: 1;
}

.parent__shop .item__product .card .image__one .hover__icons a {
    width: 45px;
    height: 45px;
    line-height: 48px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    opacity: 0;
}

.parent__shop .item__product .card .image__one .hover__icons a:nth-child(1) {
    transition: all 0.1s;
    transform: translateY(1em);
}

.parent__shop .item__product .card .image__one .hover__icons a:nth-child(2) {
    transition: all 0.3s;
    transform: translateY(1.5em);
}

.parent__shop .item__product .card .image__one .hover__icons a:nth-child(3) {
    transition: all 0.4s;
    transform: translateY(1.6em);
}

.parent__shop .item__product .card .image__one .hover__icons:hover a:nth-child(1) {
    transition-timing-function: ease-in;
    transform: translateY(0em);
    opacity: 1;
}

.parent__shop .item__product .card .image__one .hover__icons:hover a:nth-child(2) {
    transition-timing-function: ease-in;
    transform: translateY(0em);
    opacity: 1;
}

.parent__shop .item__product .card .image__one .hover__icons:hover a:nth-child(3) {
    transition-timing-function: ease-in;
    transform: translateY(0em);
    opacity: 1;
}

.parent__shop .item__product .card .image__one .hover__icons a i {
    font-size: 18px;
    color: #000;
}

.parent__shop .item__product .card .image__one .hover__icons a:hover i {
    color: #d4b446;
}

.title__image {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.title__image h6 a {
    font-size: 1rem;
    line-height: 3;
    color: #000;
    transition: 0.5s;
}

.title__image h6 a:hover {
    color: #d4b446;
}

.title__image span {
    color: #666;
    font-size: 18px;
}

.parent__shop .item__product .bi-arrow-left {
    position: absolute;
    left: 3%;
    font-size: 20px;
    cursor: pointer;
}

.parent__shop .item__product .bi-arrow-right {
    position: absolute;
    right: 3%;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .parent__shop {
        padding: 3em 1em 0;
    }

    .parent__shop h1 {
        text-align: center;
    }

    .parent__shop .item__product {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.2em;
        width: 100%;
    }

    .parent__shop .links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .parent__shop .links ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 1em;
    }

    .parent__shop .container {
        padding-top: 3em;
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .parent__shop .item__product .card {
        width: 100%;
    }

    .parent__shop .item__product .card .image__one {
        width: 100%;
    }

    .title__image {
        width: 100%;
    }
}

/* end parent__shop */
/* start parent__blog */
.parent__blog {
    padding: 8em 4em 2em;
    width: 100%;
}

.parent__blog h1 {
    font-size: 36px;
}

.parent__blog #btn {
    text-align: end;
}

.parent__blog .container {
    padding-top: 4em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.parent__blog .container .item {
    width: 360px;
}

.parent__blog .container .item .image {
    position: relative;
    overflow: hidden;
}

.parent__blog .container .item .image a {
    position: absolute;
    bottom: 0;
    padding: 14px 16px;
    border: none;
    background-color: #fff;
    color: #000;
    right: 0;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s;
}

.parent__blog .container .item:hover a {
    transform: translateX(0%);
    opacity: 1;
}

.parent__blog .container .item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.parent__blog .container .item h3 {
    padding: 1em 0 1.8em;
    font-size: 20px;
    position: relative;
}

.parent__blog .container .item h3::after {
    position: absolute;
    content: "";
    bottom: 0.7em;
    left: 0;
    width: 70px;
    height: 1.5px;
    background-color: rgba(180, 180, 180, 0.7);
}

.parent__blog .container .item h3::before {
    position: absolute;
    content: "";
    bottom: 0.7em;
    left: 0;
    width: 0px;
    height: 1.5px;
    z-index: 1;
    background-color: #d4b446;
    transition: all 0.5s;
}

.parent__blog .container .item:hover h3::before {
    width: 70px;
}

.parent__blog .container .item p b {
    color: #dbd7da;
}

.parent__blog .container .item p a {
    color: #000;
    transition: all 0.2s;
}

.parent__blog .container .item p a:hover {
    color: #d4b446;
}

@media (max-width: 767px) {
    .parent__blog {
        padding: 3em 1em;
    }

    .parent__blog h1 {
        text-align: center;
        font-size: 28px;
    }

    .parent__blog #btn {
        text-align: start;
        padding-top: 1em;
    }

    .parent__blog .container {
        padding: 2em 0;
    }
}
/* end parent__blog */
footer{
    background-color: #f4f5f7;
        color: #000;
        padding: 40px 4em;
        margin-top: 2em;
}
footer .div_1{
    flex: 1;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        gap: 1em;
}
footer .div_2{
    flex: 1;
        min-width: 200px;
}
footer .footer_inp{
flex: 1;
    max-width: 330px;
    border-bottom: 1px solid #ccc;
    height: 90px;
}
@media (max-width: 767px) {
    footer{
        padding: 40px 1em;
    }
}