*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial,sans-serif;
    text-transform: capitalize;
}
a{
    text-decoration: none;
}
ul{
    display: flex;
    gap: 3em;
}
li{
    list-style: none;
    position: relative;
}
/* start navbar */
header{
    width: 100%;
    padding: 2em 4em;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links a{
    color: #000;
    transition: 0.7s;
}
.links a:hover{
    color: #d4b446;
}
.inp{
    display: flex;
}
.icons__options{
    display: flex;
    gap: 1.3em;
    align-items: center;
}
.icons__options i{
    font-size: 25px;
    color: #000;
    transition: 0.7s;
}
.icons__options i:hover{
    color: #d4b446;
}
.icons__options .hover{
    position: relative;
}
.icons__options .hover::after{
    position: absolute;
    content: '3';
    text-align: center;
    color: #000;
    width: 17px;
    height: 17px;
    background-color: #d4b446;
    border-radius: 50%;
    bottom: 0;
    left: 14px;
}
.icons__options .bi-person{
    font-size: 30px;
}
.icons__options .bi-list{
    font-size: 30px;
    cursor: pointer;
}
.links #menu__home{
    transition: 5s step-start;
}
.links #menu__home:hover .drop__menu{
    display: block;
}
.drop__menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: -1em;
    width: 250px;
    padding: 2em;
    gap: 20em;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    display: none;
}
.drop__menu li{
        color: #ababab;
        width: fit-content;
        transition: 0.5s;
}
.drop__menu li:hover{
    color: #000;
}
.drop__menu::after{
    position: absolute;
    content: '';
    left: 20px;
    top: -20px;
    border-color: transparent transparent #ddd transparent;
    border-width: 10px 10px 10px 10px;
    border-style: solid;
}
#menu___shop{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
}
#menu___shop:hover .menu__shop{
    display: flex;
}
.menu__shop{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 70px;
        left: -26em;
        width: 950px;
        padding: 2em;
        gap: 4em;
        background-color: #fff;
        border: 1px solid #ddd;
        cursor: pointer;
        display: none;
}
.menu__shop::after{
    position: absolute;
    content: '';
    left: 45%;
    top: -20px;
    border-color: transparent transparent #ddd transparent;
    border-width: 10px 10px 10px 10px;
    border-style: solid;
}
.menu__shop li{
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.menu__shop p {
    color: #ababab;
    width: fit-content;
    transition: 0.5s;
}
.menu__shop p:hover {
    color: #000;
}
.menu__shop .image{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu__shop .image img{
    width: 100%;
    object-fit: cover;
}
#menu__home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
@media (max-width: 768px) {
    .links{
        display: none;
    }
        header{
            padding: 20px;
        }
    
}
/* end navbar */
